name: Pipeline - Boot - Test - Deploy on Heroku

on:
  push:
    branches: [master]

jobs:
  build:
    runs-on: ubuntu-20.04
    env:
      HEROKU_REGISTRY: registry.heroku.com
      HEROKU_APP_NAME: generate-tiny-url

    steps:
      - uses: actions/checkout@v2

      # check if backend boots fine
      - name: Build backend image
        run: |
          docker build -t ${{ env.HEROKU_REGISTRY }}/${{ env.HEROKU_APP_NAME }}/web -f ./backend/Dockerfile ./backend

      - name: List images
        run: |
          docker image ls

      - name: Run flask container - backend
        run: |
          docker run --name backend -d -p 5555:5555 ${{ env.HEROKU_REGISTRY }}/${{ env.HEROKU_APP_NAME }}/web

      - name: Print flask status
        run: |
          docker ps --filter "ancestor=${{ env.HEROKU_REGISTRY }}/${{ env.HEROKU_APP_NAME }}/web"

      - name: Fail if flask container is not running
        run: |
          if [[ x`docker ps --filter "ancestor=${{ env.HEROKU_REGISTRY }}/${{ env.HEROKU_APP_NAME }}/web" | grep Up` = x ]]; then exit 1; fi

      # run test suite
      - name: Print test results
        run: |
          docker exec backend pytest -v

      - name: Fail if tests are not 100%
        run: |
          if [[ x`docker exec backend pytest -v` =~ "FAILED" ]]; then exit 1; fi

      # push backend image to heroku
      - name: Heroku docker registry - login
        run: |
          echo "${{ secrets.HEROKU_API_KEY }}" | docker login -u ${{ secrets.HEROKU_USER }} ${{ env.HEROKU_REGISTRY }} --password-stdin

      - name: Heroku docker registry - push backend image
        run: |
          docker image push ${{ env.HEROKU_REGISTRY }}/${{ env.HEROKU_APP_NAME }}/web

      - name: Heroku - deploy the application
        run: |
          HEROKU_API_KEY=${{ secrets.HEROKU_API_KEY }} heroku container:release web -a ${{ env.HEROKU_APP_NAME }}

      - name: Heroku logout
        run: |
          docker logout ${{ env.HEROKU_REGISTRY }}

      # slack notification
      - name: Send notification to slack
        uses: rtCamp/action-slack-notify@master
        env:
          SLACK_TITLE: Backend tests [generate-tiny-url] for the commit - ${{ github.event.head_commit.message }}
          SLACK_MESSAGE: Good news - backend boots fine, tests are 100%, application is deployed on heroku
          SLACK_WEBHOOK: ${{ secrets.SLACK_WEBHOOK }}

